﻿@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Production</h3>
                    </div>
                    <div class="box-body">
                        <canvas id="pieChart" style="height: 255px; width: 510px;" height="255" width="510"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chart</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="barChart" style="height: 230px; width: 510px;" height="230" width="510"></canvas>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-mar-off with-border">
                        <h3 class="box-title">Production</h3>
                        <div class="button-area">
                            <a href="http://localhost:55190/Production/NewProduction"><button type="button" class="btn btn-block btn-primary btn-sm">Add New</button></a>

                        </div>

                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="col-sm-12">

                                    <div style="overflow-x:scroll">
                                        <table id="example" class="table table-bordered table-hover" style="width:auto">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Construction</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Construction</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Qtyin yds</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">Construction</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>