﻿
@{
    ViewBag.Title = "Inspection";
}
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div style="overflow-x:scroll">
                                        <table id="example" class="table table-bordered table-hover" style="width:auto">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Construction</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Construction</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                    <th class="sorting">Style</th>
                                                    <th class="sorting">Qtyin yds</th>
                                                    <th class="sorting">Garments</th>
                                                    <th class="sorting">Construction</th>
                                                    <th class="sorting">PI NO</th>
                                                    <th class="sorting">PO NO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>Gecko</td>
                                                    <td>Netscape 7.2</td>
                                                    <td>Win</td>
                                                    <td>1.7</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>
                                                        <div class="check-bok">
                                                            <i class="fa fa-check" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="check-bok">
                                                            <i class="fa fa-times" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="box-body">
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                                <input class="form-control" type="text" placeholder="Default input">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

