﻿
@{
    ViewBag.Title = "NewProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-mar-off with-border">
                        <h3 class="box-title"> New Production</h3>
                        <div class="button-area">
                            <a href="#"><button type="button" class="btn btn-block btn-primary btn-sm ">Save</button></a>
                            <a href="#"><button type="button" class="btn btn-block btn-default btn-sm ">Cancel</button></a>
                        </div>
                    </div>
                    <div class="box top-none">
                        <div class="row box-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PI NO</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>PO NO</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Style</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Garments</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Construction</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Buyer</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Name Of Color</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>BOOKING PI</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Require Delivery</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Buyer deadline</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Style NO</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>L/C NO</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Fabric Description</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Fabrics Construction</label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                                <div class="form-group">
                                    <label>Total Quantity </label>
                                    <input type="text" class="form-control my-colorpicker1 colorpicker-element">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer" style="border-top:none; padding-top:0px;">
                        <div class="button-area">
                            <a href="#"><button type="button" class="btn btn-block btn-primary btn-sm ">Save</button></a>
                            <a href="#"><button type="button" class="btn btn-block btn-default btn-sm ">Cancel</button></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

