﻿.table a {
    margin: 0px 10px;
    cursor: pointer !important;
}

.odd td.action {
    text-align: center;
    width: 120px !important;
}

.ex-class h5 {
    margin: 10px !important;
}

.boxes {
    max-width: 100%;
    background-color: #ffffff;
}

.treeview-menu {
    padding: 10px 0px !important;
}

.sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 229px;
    top: 0px;
}

.sorting {
    min-width: 100px !important;
    text-align: center;
}

.check-bok {
    float: left;
    margin: 10px;
}

    .check-bok i {
        font-size: 20px;
        color: #4f7c0f;
        cursor: pointer;
    }

        .check-bok i.fa-times {
            font-size: 20px;
            color: #e61414;
            cursor: pointer;
        }

.button-area {
    min-width: 200px;
    float: right;
}

    .button-area button {
        float: right;
        width: 40%;
        margin-top: 0px !important;
    }

.box-mar-off {
    margin: 0px !important;
}

.button-area button.btn-block {
    margin-left: 10px !important;
}

.box-primary .top-none {
    border-top: none !important;
}

.top-none .box-footer {
    border-top: none !important;
}
