﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/login.cshtml";
}
</br>
<div class="container">
    <div class="jumbotron text-center">
        <h2>LOGIN ERP</h2>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="http://localhost:55190/Home/login" role="button">Login</a></p>
    </div>
</div>


