﻿
@{
    ViewBag.Title = "login_page";
    Layout = "~/Views/Shared/login.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="http://localhost:55190/Home/Index"><b>ERP</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="background-color:#ccc;">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="#" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">

            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password">

            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label class="">
                            <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                   <a class="btn btn-primary btn-block btn-flat" href="http://localhost:55190/Dashboard/index">Login</a>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>
        
        <a href="#">I forgot my password</a><br>
        <a href="#" class="text-center">Register a new membership</a>
    </div>
   
</div>


